#content{
  background-color: white;
  grid-column: 2/5;
  grid-row: 1/3;
  height: 100vh;
  padding: 0px 20px;
  box-sizing: border-box;
  overflow: auto;
}

.tasks-header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#content .list-info-container{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-4);
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content .list-info{
  color: var(--grey-5);
}

#content .show-hide-btn{
  border: none;
  cursor: pointer;
  font-size: 12px;
  background-color: transparent;
  color: black;

}


.checkbox-unchecked{
  position: relative;
  height: 16px;
  width: 16px;
  border: 2px solid var(--grey-5);
  border-radius: 50%;
  cursor: pointer;
}

.checkbox-checked{
  position: relative;
  height: 16px;
  width: 16px;
  border: 2px solid var(--grey-9);
  border-radius: 50%;
  cursor: pointer;
}


.checked{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--grey-9);
}


#content h1{
  font-size: 30px;
  font-weight: 600;
}

#content .task-info{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  
  
}

#content .task-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid var(--grey-4);
  position: relative;
}

#content .task-content-left{
  display: flex;
  flex-direction: column;
}

#content .task-main-content{
  display: flex;
  align-items: center;
  
}

#content h4{
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: black;
}

#content h5{
  font-size: 12px;
  font-weight: 400;
  color: var(--grey-7);
}

#content h6{
  font-size: 12px;
  font-weight: 400;
  margin-top: 1px;
  margin-bottom: 4px;
  color: var(--grey-7);
}

#content .complete{
  opacity: 0.5;

}

#content .task-content button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

#content .task-btn-container{
  display: none;
  justify-content: center;
  gap: 5px;
}

#content .new-task-btn{
  border: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  
}

#content .add-icon{
  width: 20px;
  height: 20px;
}

#content #main-list-title{
  padding: 20px 0px 10px 0px;
  font-size: 35px;
  font-weight: 700;
  border-bottom: 2px solid black;
  margin-bottom: 18px;
}

#content .task-edit-btn , #content .task-delete-btn{
  background-color: transparent;
}